.banner {
	&__row {
		align-items: center;
		flex-wrap: nowrap;
	}

	&__item {
		padding: 0 $spacer/2;
		width: $spacer*7;
		flex-shrink: 1;
		line-height: 13px;
		margin-bottom: 13px;
		text-align: right;
	}
	&__main {
		width: auto;
		flex-basis: auto;
		flex-grow: 1;
		margin-bottom: 0;
		text-align: left;
	}
	// &__menu-button {
	// 	max-width:  $spacer*4;
	// 	flex-basis: $spacer*4;
	// }
}

.brand__logo {
	margin: 0;
}

.menu {
	&__nav {
		@extend .flex-column;
		a {
			color: inherit;
			text-decoration: $body-color;
			&:hover {
				text-decoration: underline;
				color: $link-hover-color;
			}
		}
	}
}

.hamburger {
	&-box {
		display: block;
	}

	&-inner {
		&, &::after, &::before {

			.hamburger:hover & {
				background-color: $hamburger-hover-layer-color;
			}
		}
	}

}
