html {
	font-size: $font-size-root;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	> * {
		flex-shrink: 0;
	}
}

img {
	max-width: 100%;
	height: auto;

	p & {
		margin-bottom: $spacer/2;
	}
}

a, button {
	&:focus {
		outline: none;
	}
}

hr {
	@extend .imarte-separator;
}

ul, ol {
	padding-left: 1em;

	ul, ol {
		padding-left: $spacer*1.5;
	}
}

.wrap {
	padding-top: $spacer*1.5;
	flex-grow: 1;
}

.content {
	flex-wrap: nowrap;
	overflow-x: hidden;
}

.main {
	@include make-col-ready();
	@include make-col($grid-columns);
}
.sidebar {
	max-height: 75vh;
	overflow: hidden;

	@include make-col-ready();
	@include media-breakpoint-down(xs) {
		@include make-col($grid-columns);
		margin-left: -100%;
	}
	@include media-breakpoint-down(sm) {
		@include make-col($grid-columns/2);
		margin-left: -50%;
	}
	@include media-breakpoint-up(md) {
		@include make-col($grid-columns/3);
		margin-left: -33.3333%;
	}
	@include media-breakpoint-up(lg) {
		@include make-col($sidebar-sm-columns);
		margin-left: -100%*$sidebar-sm-columns/$grid-columns;
	}

	transition: 0.3s margin, 0.3s max-height;

	&.visible {
		margin-left: 0;
		max-height: 9999px;
	}
}

.page-title {
	color: $magenta;
}

.page-header {
	&__breadcrumbs {
		margin-bottom: $spacer*1.5;
	}
}

.scroll-top {
	position: fixed;
	left: $spacer;
	right: $spacer;
	bottom: $spacer*2;
	max-width: 1300px;
	margin: auto;

	&__link {
		display: none;
		position: absolute;
		right: 0;
		bottom: 0;
		padding: $spacer*0.5;
		background-color: $components-bg;
		color: $white;
		text-decoration: none;
		font-size: 20px;
		font-weight: bold;
		width: $spacer*2;
		height: $spacer*2;
		line-height: $spacer*0.8;
		text-align: center;

		&:hover {
			background-color: $gray-dark;
			color: $white;
			text-decoration: none;
		}
	}
}
