.article {
	padding-bottom: $spacer*3;

	&__inner {
		border-bottom: 2px solid $gray-dark;
	}
		&__image {
			border-top: 4px solid $black;
			border-bottom: 4px solid $black;
			text-align: center;

			img {
				width: 100%;
			}

			@for $i from 1 through length($cat-colors) {
				.cat-#{$i} & {
					border-top-color: nth($cat-colors, $i);
				}
			}
		}
		&__title {
			font-size: 1rem;
			text-transform: uppercase;
			margin-bottom: 0;

			a {
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
		&__more {
			margin-bottom: 1.5rem;
		}
}
