.imarte-page-menu {
	$item-spacing: 5px;

	&--buttons {
		padding-bottom: $item-spacing;
		border-bottom: 2px solid $components-bg;
		margin-bottom: 1.8rem;
	}

	&__li {
		margin-bottom: 1rem;
	}

	&__item {
		margin-right: $item-spacing;
	}
}
